<%= render 'partials/disabled_account' %>
<legend>Credentials</legend>

<dl class="dl-horizontal">
	<dt>key</dt>
	<dd><%= current_user.key %></dd>
	<dt>pwd</dt>
	<dd><%= current_user.pwd %></dd>
</dl>

<p class="text-center">
	<%= link_to "Generate new Credentials", credential_path(current_user), method: :patch, class: 'btn btn-default' %>
</p>
