.btn-download {
    background-color: #e94b4d;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn-download:hover {
    background-color: #D14345;
}